1. Write a Python program to produce some information from the results of four standard tests in Maths, Science, English, and IT. Each test is out of 100 marks. The information output should be the highest, lowest, and average mark for each test and the highest, lowest, and average mark overall.

In [1]:
marks = {
    "Maths": {
        "Alice": 95, "Bob": 88, "Charlie": 76, "David": 90, "Eve": 85,
        "Frank": 89, "Grace": 92, "Hank": 94, "Ivy": 78, "Jack": 87
    },
    "Science": {
        "Alice": 84, "Bob": 92, "Charlie": 80, "David": 89, "Eve": 94,
        "Frank": 76, "Grace": 88, "Hank": 90, "Ivy": 83, "Jack": 86
    },
    "English": {
        "Alice": 75, "Bob": 85, "Charlie": 78, "David": 80, "Eve": 82,
        "Frank": 90, "Grace": 88, "Hank": 84, "Ivy": 79, "Jack": 81
    },
    "IT": {
        "Alice": 91, "Bob": 87, "Charlie": 85, "David": 89, "Eve": 92,
        "Frank": 90, "Grace": 88, "Hank": 86, "Ivy": 84, "Jack": 83
    }
}

for subject, students_scores in marks.items():
    scores = list(students_scores.values())
    highest_score = max(scores)
    lowest_score = min(scores)
    average_score = sum(scores) / len(scores)

    # Find students with the highest and lowest scores
    highest_scorer = [name for name, score in students_scores.items() if score == highest_score]
    lowest_scorer = [name for name, score in students_scores.items() if score == lowest_score]

    print(f"{subject}:")
    print(f"  Highest: {highest_score} by {', '.join(highest_scorer)}")
    print(f"  Lowest: {lowest_score} by {', '.join(lowest_scorer)}")
    print(f"  Average: {average_score:.2f}")

Maths:
  Highest: 95 by Alice
  Lowest: 76 by Charlie
  Average: 87.40
Science:
  Highest: 94 by Eve
  Lowest: 76 by Frank
  Average: 86.20
English:
  Highest: 90 by Frank
  Lowest: 75 by Alice
  Average: 82.20
IT:
  Highest: 92 by Eve
  Lowest: 83 by Jack
  Average: 87.50

2. Write a Python program to input the basic salary of an employee and calculate its Gross salary.
Conditions:
For Basic Salary <= 10000: HRA = 20%, DA = 80%
For Basic Salary <= 20000: HRA = 25%, DA = 90%
For Basic Salary > 20000: HRA = 30%, DA = 95%

In [3]:
basic_salary = float(input("Enter basic salary: "))

if basic_salary <= 10000:
    hra = 0.2 * basic_salary
    da = 0.8 * basic_salary
elif basic_salary <= 20000:
    hra = 0.25 * basic_salary
    da = 0.9 * basic_salary
else:
    hra = 0.3 * basic_salary
    da = 0.95 * basic_salary

gross_salary = basic_salary + hra + da
print(f"Gross Salary: {gross_salary}")

Gross Salary: 1200.0

3. Write a Python program to check the validity of password input by users.
Validation rules:
At least 1 letter between [a-z] and 1 letter between [A-Z].
At least 1 number between [0-9].
At least 1 character from [$#@].
Minimum length: 6.
Maximum length: 16.

In [4]:
import re

password = input("Enter a password: ")
pattern = r"^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[#$@]).{6,16}$"

if re.match(pattern, password):
    print("Password is valid")
else:
    print("Password is invalid")

Password is invalid

4. Create a list L = [10, 20, 30, 40, 50, 60, 70, 80].
(i) Write a program to add 200 and 300 to L.
(ii) Write a program to remove 10 and 30 from L.
(iii) Write a program to sort L in ascending order.
(iv) Write a program to sort L in descending order.

In [ ]:
L = [10, 20, 30, 40, 50, 60, 70, 80]

# (i)
L.append(200)
L.append(300)
print("After adding 200 and 300:", L)

# (ii)
L.remove(10)
L.remove(30)
print("After removing 10 and 30:", L)

# (iii)
L.sort()
print("Ascending order:", L)

# (iv)
L.sort(reverse=True)
print("Descending order:", L)

After adding 200 and 300: [10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
After removing 10 and 30: [20, 40, 50, 60, 70, 80, 200, 300]
Ascending order: [20, 40, 50, 60, 70, 80, 200, 300]
Descending order: [300, 200, 80, 70, 60, 50, 40, 20]

5. Perform various operations on a dictionary D.
Initial dictionary: D = {1: “One”, 2: “Two”, 3: “Three”, 4: “Four”, 5: “Five”}.
(i) Add a new entry in D; key=6 and value="Six".
(ii) Remove key=2.
(iii) Check if key=6 is present in D.
(iv) Count the number of elements present in D.
(v) Add all the values present in D.

In [ ]:
D = {1: "One", 2: "Two", 3: "Three", 4: "Four", 5: "Five"}

# (i)
D[6] = "Six"
print("After adding key=6:", D)

# (ii)
D.pop(2, None)
print("After removing key=2:", D)

# (iii)
key_to_check = 6
print(f"Key {key_to_check} is {'present' if key_to_check in D else 'not present'}")

# (iv)
print("Number of elements:", len(D))

# (v)
print("Concatenated values:", ", ".join(D.values()))

After adding key=6: {1: 'One', 2: 'Two', 3: 'Three', 4: 'Four', 5: 'Five', 6: 'Six'}
After removing key=2: {1: 'One', 3: 'Three', 4: 'Four', 5: 'Five', 6: 'Six'}
Key 6 is present
Number of elements: 5
Concatenated values: One, Three, Four, Five, Six

6. Generate a list of 100 random numbers between 100 and 900.
(i) Print all odd numbers.
(ii) Print all even numbers.
(iii) Print all prime numbers.

In [ ]:
import random

numbers = [random.randint(100, 900) for _ in range(100)]

# (i) Odd numbers
odds = [num for num in numbers if num % 2 != 0]
print("Odd numbers:", odds)

# (ii) Even numbers
evens = [num for num in numbers if num % 2 == 0]
print("Even numbers:", evens)

# (iii) Prime numbers
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

primes = [num for num in numbers if is_prime(num)]
print("Prime numbers:", primes)

Odd numbers: [869, 195, 179, 477, 597, 335, 499, 695, 759, 199, 241, 855, 649, 567, 861, 641, 699, 245, 713, 353, 255, 585, 153, 587, 769, 717, 569, 397, 811, 841, 403, 459, 457, 413, 765, 747, 399, 183, 263, 495, 415, 649, 351, 483, 465, 575, 825, 289]
Even numbers: [816, 792, 286, 126, 152, 338, 520, 146, 836, 674, 666, 440, 660, 604, 342, 766, 436, 892, 764, 576, 234, 894, 484, 552, 432, 426, 210, 836, 156, 390, 602, 456, 812, 572, 596, 500, 426, 314, 138, 496, 740, 316, 656, 878, 122, 402, 874, 778, 126, 480, 360, 808]
Prime numbers: [179, 499, 199, 241, 641, 353, 587, 769, 569, 397, 811, 457, 263]

7. Write a function to calculate compound interest.
Save this function as a module and call it in another Python file.

In [ ]:
def compound_interest(principal, rate, time):
    return principal * (1 + rate / 100) ** time

# Call the function
principal = float(input("Enter principal: "))
rate = float(input("Enter interest rate: "))
time = float(input("Enter time in years: "))

print("Compound Interest:", compound_interest(principal, rate, time))

Enter principal: 8
Enter interest rate: 9
Enter time in years: 9
Compound Interest: 17.375146235538487

8. Define classes for Restaurant and User.

In [ ]:
# (A) Restaurant Class
class Restaurant:
    def __init__(self, restaurant_name, cuisine_type):
        self.restaurant_name = restaurant_name
        self.cuisine_type = cuisine_type

    def describe_restaurant(self):
        print(f"{self.restaurant_name} serves {self.cuisine_type} cuisine.")

    def open_restaurant(self):
        print(f"{self.restaurant_name} is now open!")

restaurant = Restaurant("The Food Place", "Italian")
restaurant.describe_restaurant()
restaurant.open_restaurant()

# (B) User Class
class User:
    def __init__(self, first_name, last_name):
        self.first_name = first_name
        self.last_name = last_name
        self.attributes = {"age": 0, "email": "", "phone": ""}

    def describe_user(self):
        print(f"User: {self.first_name} {self.last_name}")
        for attr, value in self.attributes.items():
            print(f"{attr.capitalize()}: {value}")

    def greet_user(self):
        print(f"Hello, {self.first_name} {self.last_name}!")

user1 = User("John", "Doe")
user1.attributes.update({"age": 30, "email": "john.doe@example.com", "phone": "1234567890"})
user1.describe_user()
user1.greet_user()

The Food Place serves Italian cuisine.
The Food Place is now open!
User: John Doe
Age: 30
Email: john.doe@example.com
Phone: 1234567890
Hello, John Doe!